.places {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 984px;
    margin: 0 auto 92px;
}

@media all and (max-width: 1024px) {
    .places {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media all and (max-width: 870px) {
    .places {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 90px;
    }
}


@media all and (max-width: 720px) {
    .places {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 66px;
    }
}
