.places {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    max-width: 984px;
    margin: auto;
    padding-bottom: 92px;
}

@media all and (max-width: 1023px) {
    .places {
        padding-bottom: 90px;
    }
}


@media all and (max-width: 720px) {
    .places {
        padding: 0 0 66px;
    }
}
