.header {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 56px;
}

@media all and (max-width: 1024px) {
    .header {
        padding-bottom: 48px;
    }
}
