.header {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto 56px;
    padding: 28px 0 0;
}

@media all and (max-width: 1279px) {
    .header {
        max-width: none;
        padding: 28px 48px 0;
    }
}

@media all and (max-width: 1023px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media all and (max-width: 767px) {
    .header {
        padding: 16px 16px 0;
    }
}
