.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 64px;
    max-width: 640px;
}

@media all and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
        padding: 0 16px;
    }
}

@media all and (max-width: 768px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media all and (max-width: 720px) {
    .lead__subtitle {
        font-size: 25px;
    }
}

@media all and (max-width: 454px) {
    .lead__subtitle {
        font-size: 16px;
        margin-bottom: 40px;
    }
}
