.place__paragraph-container {
    max-width: 484px;
    margin: 0;
    grid-area: paragraph;
}

@media all and (max-width: 767px) {
    .place__paragraph-container {
        max-width: 288;
        margin-left: 16px;
        margin-right: 16px;
    }
}
