.video__item {
    text-decoration: none;
    color: white;
    text-align: start;
    width: 583px;
    height: 323px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 5px;
}

.video__item:last-of-type {
    margin-left: 18px;
}

.video__item::before {
    content: "";
    background-color: #2a2c2f;
    width: 49.2%;
    height: 100%;
    position: absolute;
    opacity: .3;
    transition: opacity .3s ease;
}

.video__item:hover::before {
    opacity: .8;
}
