.place__paragraph {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
}

.place__paragraph:first-of-type {
    margin-bottom: 25px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media all and (max-width: 870px) {
    .place__paragraph {
        font-size: 16px;
    }
}
