.video__text {
    margin-bottom: 30px;
    margin-left: 20px;
    position: relative;
}

@media all and (max-width: 850px) {
    .video__text {
        margin-bottom: 24px;
        margin-left: 24px;
    }
}
