.cover {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 1184px;
    margin: 0 auto 92px;
}

@media all and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
    }
}

@media all and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        margin-bottom: 88px;
    }
}

@media all and (max-width: 767px) {
    .cover {
        max-width: 320px;
        margin-bottom: 64px;
    }
}
