.comments__quote {
    max-width: 382px;
    margin: 0;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 24px;
}

@media all and (max-width: 768px) {
    .comments__quote {
        order: 1;
        margin-bottom: 0;
    }
}
