.footer {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 1184px;
    margin: auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 750px) {
    .footer {
        flex-direction: column;
    }
}
