.footer {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 1184px;
    margin: auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media all and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}

@media all and (max-width: 667px) {
    .footer {
        max-width: 320px;
        flex-direction: column;
    }
}

@media all and (max-width: 320px) {
    .footer {
        margin-left: 16px;
    }
}
