.place__website {
    grid-area: website;
    align-self: end;
    margin: 0;
}

@media all and (max-width: 720px) {
    .place__website {
        align-self: flex-start;
        margin-left: 16px;
        order: 1;
    }
}
