.video__container {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 323px;
    gap: 18px;
}

@media all and (max-width: 1024px) {
    .video__container {
        min-height: 288px;
        gap: 16px;
    }
}

@media all and (max-width: 850px) {
    .video__container {
        min-height: 200px;
    }
}

@media all and (max-width: 629px) {
    .video__container {
        flex-direction: column;
        gap: 8px;
    }
}
